<%- include header.ejs %>
    
    <div class="container">
      <div class="row">
        <nav class="col-md-2 col-lg-2">
          <%- include sidebar.ejs %>
        </nav><!-- .nav -->
        <section class="col-md-10 col-lg-10">
          <!-- content goes here -->
          <h2>New Mail</h2>
          
          <form id="fm-compose" role="form" action="/compose" method="post">
            <div class="form-group">
              <label for="emailSubject">Subject</label>
              <input type="text" class="form-control" name="mailsub" placeholder="Email subject goes here">
            </div>
            <div class="form-group">
              <label for="emailMsg">Message</label>
              <textarea class="form-control" rows="7" name="mailmsg" placeholder="Create content with markdown"></textarea>
              <p class="help-block">
                Tippler uses the <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">
                  Daring Fireball <span class="glyphicon glyphicon-link"></span></a> markdown format.
              </p>
            </div>
            <div class="form-group compose-toasts">
              <div class="alert alert-success display-none">
                <strong>Well done!</strong> Mail send to all Sentinel users.
              </div>
              <div class="alert alert-danger display-none">
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
              </div>
            </div>
            <button type="submit" class="btn btn-default" data-loading-text="Sending...">
              <span class="glyphicon glyphicon-send"></span> Send
            </button>
          </form>
        </section><!-- .section -->
      </div><!-- .row -->
    </div><!-- .container -->
    
    
    <%- include scripts.ejs %>
    <!-- 
      compose scripts 
    -->
    <script>
      $(document).ready(function() {
        
        /*
         * POST to compose email
         */
        
        $('#fm-compose').submit(function(event) {
          
          $('#fm-compose button[type=submit]').button('loading');
          
          $.post('/compose', $(this).serialize(), function(data) {
            console.log(data.status);
            if(data.status == 'OK') {
              $('.compose-toasts .alert-success').show('slow').delay(2500).hide('slow'); 
            } else {
              $('.compose-toasts .alert-danger').show('slow').delay(3000).hide('slow');
            }
            
            document.getElementById('fm-compose').reset();
            $('#fm-compose button[type=submit]').button('reset');
          }, 'json');
        
          event.preventDefault();
        });
        
      });
    </script>
    
<%- include footer.ejs %>