<%- include header.ejs %>
    
    <div class="container">
      <div class="row">
        <nav class="col-md-2 col-lg-2">
          <%- include sidebar.ejs %>
        </nav><!-- .nav -->
        <section class="col-md-10 col-lg-10">
          <!-- content goes here -->
          
        </section><!-- .section -->
      </div><!-- .row -->
    </div><!-- .container -->
    
<%- include footer.ejs %>