<%- include partials/header.ejs %>
    
    <div class="container">
      <div class="row">
        <nav class="col-md-2 col-lg-2">
          <%- include partials/sidebar.ejs %>
        </nav><!-- .nav -->
        <section class="col-md-10 col-lg-10">
          <!-- content goes here -->
          <p>Extend Tippler to list all mails you have send as your outbox.</p>
          <p>Similarly extend other features as you like for unsubscribed members listing, stats, settings, etc. There is nothing limiting your imagination on what you can do with Tippler!</p>
        </section><!-- .section -->
      </div><!-- .row -->
    </div><!-- .container -->
    
<%- include partials/footer.ejs %>
