<ul class="sidebar">
  <li class="active"><a href="#"><span class="glyphicon glyphicon-inbox"></span>Outbox</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-edit"></span>Compose</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-thumbs-down"></span>Unsubscribed</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-wrench"></span>Settings</a></li>
  <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
</ul>